In [1]:
# Learning list
arr = [112,6];
print(arr);

[112, 6]

In [2]:
"""we are learning phthon
learning list now"""
print("Hello World");

Hello World

In [1]:
name1 = "Zulqi";
name2 = "Rani";
name3 = "Ehsan";
name4 = "Samina";
name5 = "Billal";
name6 = "Ammar";
print(name1+","+name2+ ","+name3+","+name4+","+name5+","+name6)

Zulqi,Rani,Ehsan,Samina,Billal,Ammar

In [2]:
# List
name = ["Zulqi", "Rani", "Ehsan", "Samina", "Billal", "Ammar"];
print(name)

['Zulqi', 'Rani', 'Ehsan', 'Samina', 'Billal', 'Ammar']

In [3]:
print(name[0]);

Zulqi

In [4]:
name[1] = "Ali"
print(name);

['Zulqi', 'Ali', 'Ehsan', 'Samina', 'Billal', 'Ammar']

In [5]:
name.append("Ahmed")
print(name);

['Zulqi', 'Ali', 'Ehsan', 'Samina', 'Billal', 'Ammar', 'Ahmed']

In [1]:
arr = ["lion", 12, True, 5.69]
print(arr)

['lion', 12, True, 5.69]

In [1]:
# List
name = ["Zulqi", "Ali", "Ehsan", "Samina", "Billal", "Ammar", "Ahmed"];
print(name)

['Zulqi', 'Ali', 'Ehsan', 'Samina', 'Billal', 'Ammar', 'Ahmed']

In [2]:
 name

['Zulqi', 'Ali', 'Ehsan', 'Samina', 'Billal', 'Ammar', 'Ahmed']

In [5]:
# List
name = ["Zulqi", "Ali", "Ehsan", "Samina", "Billal", "Ammar", "Ahmed"];
arr = ["lion", 12, True, 5.69];
newList = name + arr;
print(newList)

['Zulqi', 'Ali', 'Ehsan', 'Samina', 'Billal', 'Ammar', 'Ahmed', 'lion', 12, True, 5.69]

In [6]:
name

['Zulqi', 'Ali', 'Ehsan', 'Samina', 'Billal', 'Ammar', 'Ahmed']

In [7]:
name = name.insert(3,"Rashid");

In [10]:
arr

['lion', 12, True, 5.69]

In [11]:
name

In [13]:
 arr

['lion', 12, True, 5.69]

In [14]:
arr.insert(2,"Raza")
print(arr)

['lion', 12, 'Raza', True, 5.69]

In [15]:
# List
name = ["Zulqi", "Ali", "Ehsan", "Samina", "Billal", "Ammar", "Ahmed"];
print(name)

['Zulqi', 'Ali', 'Ehsan', 'Samina', 'Billal', 'Ammar', 'Ahmed']

In [16]:
 name

['Zulqi', 'Ali', 'Ehsan', 'Samina', 'Billal', 'Ammar', 'Ahmed']

In [17]:
name.insert(3,"Rashid")
print(name)

['Zulqi', 'Ali', 'Ehsan', 'Rashid', 'Samina', 'Billal', 'Ammar', 'Ahmed']

arr2 = arr[2:4]
print(arr2);

In [19]:
 arr

['lion', 12, 'Raza', True, 5.69]

In [21]:
 arr

['lion', 12, 'Raza', True, 5.69]

In [22]:
arr2 = arr[2:4]
print(arr2);

['Raza', True]

In [23]:
arr

['lion', 12, 'Raza', True, 5.69]

In [24]:
arr2

['Raza', True]

In [25]:
arr3 = arr[2:5]
print(arr3);

['Raza', True, 5.69]

In [26]:
arr4 = arr[:3]
print(arr4);

['lion', 12, 'Raza']

In [27]:
del arr[2]
print(arr);

['lion', 12, True, 5.69]

In [29]:
arr.remove(12)
print(arr);

['lion', True, 5.69]

In [30]:
arr.pop()
print(arr);

['lion', True]

In [31]:
arr.pop(True)
print(arr);

['lion']